@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Unbound";
  src: url("../assets/fonts/Unbounded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "montserratUnderline";
  src: url("../assets/fonts/MontserratUnderline-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "righteous";
  src: url("../assets/fonts/RussoOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "archivo";
  src: url("../assets/fonts/ArchivoBlack-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-poppins-bold {
  font-family: "PoppinsBold", sans-serif;
}

.font-unbound {
  font-family: "Unbound", sans-serif;
}

.font-montserratUnderline {
  font-family: "montserratUnderline", sans-serif;
}

.font-righteous {
  font-family: "righteous", sans-serif;
}

.font-archivo {
  font-family: "archivo", sans-serif;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

.keen-slider.perspective-1000 {
  perspective: 1000px;
}

/* Add this to your global CSS or a module file */
.cylinder-wrapper {
  perspective: 1200px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
}
